USE [master]
GO
/****** Object:  Database [ProductDBFed]    Script Date: 11.12.2025 15:35:01 ******/
CREATE DATABASE [ProductDBFed]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProductDBFed', FILENAME = N'/var/opt/mssql/data/ProductDBFed.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProductDBFed_log', FILENAME = N'/var/opt/mssql/data/ProductDBFed_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProductDBFed].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProductDBFed]
GO
/****** Object:  User [Student]    Script Date: 11.12.2025 15:35:01 ******/
CREATE USER [Student] FOR LOGIN [Student] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Student]
GO
/****** Object:  Table [dbo].[Materials]    Script Date: 11.12.2025 15:35:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials](
	[MaterialID] [int] NOT NULL,
	[MaterialName] [nvarchar](255) NULL,
	[MaterialTypeID] [int] NULL,
	[Price] [float] NULL,
	[QuantityInStock] [float] NULL,
	[NinQuantity] [float] NULL,
	[CountInPack] [float] NULL,
	[UnitID] [int] NULL,
 CONSTRAINT [PK_Materials] PRIMARY KEY CLUSTERED 
(
	[MaterialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialsSuppliers]    Script Date: 11.12.2025 15:35:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialsSuppliers](
	[MaterialID] [int] NOT NULL,
	[SupplierID] [int] NOT NULL,
 CONSTRAINT [PK_MaterialsSuppliers] PRIMARY KEY CLUSTERED 
(
	[MaterialID] ASC,
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialTypes]    Script Date: 11.12.2025 15:35:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialTypes](
	[MaterialTypeID] [int] NOT NULL,
	[MaterialType] [nvarchar](255) NULL,
	[PercentLoss] [float] NULL,
 CONSTRAINT [PK_MaterialTypes] PRIMARY KEY CLUSTERED 
(
	[MaterialTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductTypes]    Script Date: 11.12.2025 15:35:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTypes](
	[ProductTypeID] [int] NOT NULL,
	[ProductType] [nvarchar](255) NULL,
	[ProductTypeCoef] [float] NULL,
 CONSTRAINT [PK_ProductTypes] PRIMARY KEY CLUSTERED 
(
	[ProductTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 11.12.2025 15:35:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierID] [int] NOT NULL,
	[SupplierName] [nvarchar](255) NULL,
	[SupplierTypeID] [int] NULL,
	[INN] [float] NULL,
	[Rating] [float] NULL,
	[BeginDate] [float] NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupplierTypes]    Script Date: 11.12.2025 15:35:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplierTypes](
	[SupplierTypeID] [int] NOT NULL,
	[SupplierType] [nvarchar](255) NULL,
 CONSTRAINT [PK_SupplierTypes] PRIMARY KEY CLUSTERED 
(
	[SupplierTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Units]    Script Date: 11.12.2025 15:35:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Units](
	[UnitID] [int] NOT NULL,
	[Unit] [nvarchar](255) NULL,
 CONSTRAINT [PK_Units] PRIMARY KEY CLUSTERED 
(
	[UnitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 11.12.2025 15:35:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[UserRoleID] [int] NOT NULL,
	[UserRole] [nvarchar](255) NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[UserRoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11.12.2025 15:35:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] NOT NULL,
	[UserRoleID] [int] NULL,
	[FullName] [nvarchar](255) NULL,
	[Login] [nvarchar](255) NULL,
	[Password] [nvarchar](255) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Materials] ([MaterialID], [MaterialName], [MaterialTypeID], [Price], [QuantityInStock], [NinQuantity], [CountInPack], [UnitID]) VALUES (1, N'Глина', 1, 15.29, 1570, 5500, 30, 1)
INSERT [dbo].[Materials] ([MaterialID], [MaterialName], [MaterialTypeID], [Price], [QuantityInStock], [NinQuantity], [CountInPack], [UnitID]) VALUES (2, N'Каолин', 1, 18.2, 1030, 3500, 25, 1)
INSERT [dbo].[Materials] ([MaterialID], [MaterialName], [MaterialTypeID], [Price], [QuantityInStock], [NinQuantity], [CountInPack], [UnitID]) VALUES (3, N'Гидрослюда', 1, 17.2, 2147, 3500, 25, 1)
GO
INSERT [dbo].[MaterialsSuppliers] ([MaterialID], [SupplierID]) VALUES (1, 1)
INSERT [dbo].[MaterialsSuppliers] ([MaterialID], [SupplierID]) VALUES (1, 4)
INSERT [dbo].[MaterialsSuppliers] ([MaterialID], [SupplierID]) VALUES (1, 6)
GO
INSERT [dbo].[MaterialTypes] ([MaterialTypeID], [MaterialType], [PercentLoss]) VALUES (1, N'Пластичные материалы', 0.12)
INSERT [dbo].[MaterialTypes] ([MaterialTypeID], [MaterialType], [PercentLoss]) VALUES (2, N'Добавка', 0.2)
INSERT [dbo].[MaterialTypes] ([MaterialTypeID], [MaterialType], [PercentLoss]) VALUES (3, N'Электролит', 0.15)
GO
INSERT [dbo].[ProductTypes] ([ProductTypeID], [ProductType], [ProductTypeCoef]) VALUES (1, N'Тип продукции 1', 1.2)
INSERT [dbo].[ProductTypes] ([ProductTypeID], [ProductType], [ProductTypeCoef]) VALUES (2, N'Тип продукции 2', 8.59)
INSERT [dbo].[ProductTypes] ([ProductTypeID], [ProductType], [ProductTypeCoef]) VALUES (3, N'Тип продукции 3', 3.45)
GO
INSERT [dbo].[Suppliers] ([SupplierID], [SupplierName], [SupplierTypeID], [INN], [Rating], [BeginDate]) VALUES (1, N'БрянскСтройресурс', 1, 9432455179, 8, 42358)
INSERT [dbo].[Suppliers] ([SupplierID], [SupplierName], [SupplierTypeID], [INN], [Rating], [BeginDate]) VALUES (2, N'Стройкомплект', 1, 7803888520, 7, 42991)
INSERT [dbo].[Suppliers] ([SupplierID], [SupplierName], [SupplierTypeID], [INN], [Rating], [BeginDate]) VALUES (3, N'Железногорская руда', 2, 8430391035, 7, 42727)
GO
INSERT [dbo].[SupplierTypes] ([SupplierTypeID], [SupplierType]) VALUES (1, N'ЗАО')
INSERT [dbo].[SupplierTypes] ([SupplierTypeID], [SupplierType]) VALUES (2, N'ООО')
INSERT [dbo].[SupplierTypes] ([SupplierTypeID], [SupplierType]) VALUES (3, N'ПАО')
GO
INSERT [dbo].[Units] ([UnitID], [Unit]) VALUES (1, N'кг')
INSERT [dbo].[Units] ([UnitID], [Unit]) VALUES (2, N'л')
GO
INSERT [dbo].[UserRole] ([UserRoleID], [UserRole]) VALUES (1, N'Менеджер')
INSERT [dbo].[UserRole] ([UserRoleID], [UserRole]) VALUES (2, N'Авторизированный клиент')
GO
INSERT [dbo].[Users] ([UserID], [UserRoleID], [FullName], [Login], [Password]) VALUES (1, 1, N'Степанов Михаил Артёмович', N'1diph5e@tutanota.com', N'8ntwUp')
INSERT [dbo].[Users] ([UserID], [UserRoleID], [FullName], [Login], [Password]) VALUES (2, 1, N'Ворсин Петр Евгеньевич', N'tjde7c@yahoo.com', N'YOyhfR')
INSERT [dbo].[Users] ([UserID], [UserRoleID], [FullName], [Login], [Password]) VALUES (3, 1, N'Старикова Елена Павловна', N'wpmrc3do@tutanota.com', N'RSbvHv')
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD  CONSTRAINT [FK_Materials_MaterialTypes] FOREIGN KEY([MaterialTypeID])
REFERENCES [dbo].[MaterialTypes] ([MaterialTypeID])
GO
ALTER TABLE [dbo].[Materials] CHECK CONSTRAINT [FK_Materials_MaterialTypes]
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD  CONSTRAINT [FK_Materials_Units] FOREIGN KEY([UnitID])
REFERENCES [dbo].[Units] ([UnitID])
GO
ALTER TABLE [dbo].[Materials] CHECK CONSTRAINT [FK_Materials_Units]
GO
ALTER TABLE [dbo].[MaterialsSuppliers]  WITH CHECK ADD  CONSTRAINT [FK_MaterialsSuppliers_Materials] FOREIGN KEY([MaterialID])
REFERENCES [dbo].[Materials] ([MaterialID])
GO
ALTER TABLE [dbo].[MaterialsSuppliers] CHECK CONSTRAINT [FK_MaterialsSuppliers_Materials]
GO
ALTER TABLE [dbo].[MaterialsSuppliers]  WITH CHECK ADD  CONSTRAINT [FK_MaterialsSuppliers_Suppliers] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
GO
ALTER TABLE [dbo].[MaterialsSuppliers] CHECK CONSTRAINT [FK_MaterialsSuppliers_Suppliers]
GO
ALTER TABLE [dbo].[Suppliers]  WITH CHECK ADD  CONSTRAINT [FK_Suppliers_SupplierTypes] FOREIGN KEY([SupplierTypeID])
REFERENCES [dbo].[SupplierTypes] ([SupplierTypeID])
GO
ALTER TABLE [dbo].[Suppliers] CHECK CONSTRAINT [FK_Suppliers_SupplierTypes]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_UserRole] FOREIGN KEY([UserRoleID])
REFERENCES [dbo].[UserRole] ([UserRoleID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_UserRole]
GO
USE [master]
GO
